<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css'%}" />
   
  </head>
  

  <body>
    <!-- <header id = "navbar">
      <h4 class= "logo">LAB-4</h4> 
      <nav>
        
        <ul class = "linkss">
          <li><a href="http://127.0.0.1:8000/lab1/">Lab 1</a></li>
          <li><a href="http://127.0.0.1:8000/lab2/">Lab 2</a></li>
          <li><a href="http://127.0.0.1:8000/lab3/">Lab 3</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/">Lab 4</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/add_note">Add Note</a></li>
        </ul>
      </nav>
    </header> -->

    
    {%for mail in list_note%}

    <fieldset id = "message">
      <h2 id  = "title">{{mail.title}}</h2>
      <h4 class = "info">From : {{mail.sender}}</h4>
      <h4 class = "info"></h4>>To : {{mail.to}}</h4>
      
      <p id = "isi_pesan">{{mail.message}}</p>

    </fieldset>
    {%endfor%}
  </body>
</html>
