<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/list.css'%}" />
   
  </head>
  <style>
    
  </style>

  <body>
    <!-- <header id = "navbar">
      <h4 class= "logo">LAB-4</h4> 
      <nav>
        
        <ul class = "linkss">
          <li><a href="http://127.0.0.1:8000/lab1/">Lab 1</a></li>
          <li><a href="http://127.0.0.1:8000/lab2/">Lab 2</a></li>
          <li><a href="http://127.0.0.1:8000/lab3/">Lab 3</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/note_list">List</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/add_note">Add Note</a></li>
        </ul>
      </nav>
    </header> -->

    <table class = "table_content">
      <thead>
        <tr>
          <th>Title</th>
          <th>From</th>
          <th>To</th>
          <th>Message</th>
        </tr>
      </thead>

      <tbody>
        {%for mail in list_note%}
          <tr>
            <td>{{mail.title}}</td>
            <td>{{mail.sender}}</td>
            <td>{{mail.to}}</td>
            <td>{{mail.message}}</td>
          </tr>
        {%endfor%}
      </tbody>

    </table>
  </body>
</html>
