<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title >Friend List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css'%}" />
  </head>
  <body>
    <!-- <header id = "navbar">
      <h4 class= "logo">LAB-4</h4> 
      <nav>
        
        <ul class = "linkss">
          <li><a href="http://127.0.0.1:8000/lab1/">Lab 1</a></li>
          <li><a href="http://127.0.0.1:8000/lab2/">Lab 2</a></li>
          <li><a href="http://127.0.0.1:8000/lab3/">Lab 3</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/">Lab 4</a></li>
          <li><a href="http://127.0.0.1:8000/lab4/note_list">List</a></li>
        </ul>
      </nav>
    </header> -->
    <form action="" method="post" >
      {% csrf_token %}
      {{form.as_p}}
      <input type= "submit" value="Add Note">
    </form>
  </body>
</html>