{% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css'%}" />
<header id = "navbar">
    <nav>
      <h4>LAB-4</h4> 
      <ul>
        <li><a href="#">Lab 1</a></li>
        <li><a href="#">Lab 2</a></li>
        <li><a href="#">Lab 3</a></li>
        <li><a href="#">Add Note</a></li>
      </ul>
    </nav>
  </header>