<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      {{form}}
      <input type= "submit" value="Add Friend">
    </form>
  </body>
</html>