<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    {%for mail in list_note%}
    <h1>{{mail.title}}</h1>
    <h6>{{mail.to}}</h6>
    <h6>{{mail.sender}}</h6>
    <p>{{mail.message}}</p>
    {%endfor%}
  </body>
</html>
